<!DOCTYPE html>
<html lang="{ DEFAULT_LANG }}">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
		<title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/hyde.css" />
		<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/poole.css" />
		<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/syntax.css" />
	</head>

	<body>
		{% include 'sidebar.html' %}
		<div class="content container">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>
